/* Стили burger menu */
:root {
  --breakpoint-tablet: 768px;
}

@media (min-width: var(--breakpoint-tablet)) {
    .desktop-only {
      display: flex !important;
    }
  
    .mobile-only {
      display: none !important;
    }
  }
  
  @media (max-width: calc(var(--breakpoint-tablet) - 1px)) {
    .desktop-only {
      display: none !important;
    }
  
    .mobile-only {
      display: flex !important;
      align-items: center;
    }
  }