/* Стили burger menu */
@media (min-width: 768px) {
    .desktop-only {
      display: flex !important;
    }
  
    .mobile-only {
      display: none !important;
    }
  }
  
  @media (max-width: 767px) {
    .desktop-only {
      display: none !important;
    }
  
    .mobile-only {
      display: flex !important;
      align-items: center;
    }
  }